.section-root {
    position: relative;
    top: 100px
}

.section-image-right {
    width: 70%;
}

.section-title-right {
    position: absolute;
    right: 10%;
    top: 10%;
    font-size: 5vw;
    color: #FFF;
    z-index: 2;
    font-family: title;
}

.section-content-right {
    position: absolute;
    right: 14%;
    top: 5%;
    font-size: 1vw;
    color: #FFF;
    width: 60%;
    outline: 2px solid red;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.section-image-left {
    width: 70%;
}

.section-title-left {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 5vw;
    color: #FFF;
    z-index: 2;
    font-family: title;
}

.section-content-left {
    position: absolute;
    left: 14%;
    top: 5%;
    font-size: 1vw;
    color: #FFF;
    width: 60%;
    outline: 2px solid red;
    padding-top: 10%;
    padding-bottom: 7%;
    padding-left: 2%;
    padding-right: 2%;
}

.footer-root {
    position: relative;
    background-color: rgb(221, 221, 221);
    height: 100px;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

.map {
    height: 400px;
    top: 300px;
}