.body {
    background-color: #000;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/centurion_competition.jpg');
    background-color: #e5e3e3
}