.body {
    background-color: #0c0c0c;
}

.navbar-color {
    background-color:  rgb(229, 227, 227); 
    height: 70px;
}

.navbar-logo {
    width: 40px;
    margin-right: 20px
}

.navbar-icon {
    width: 5%;
}

.header-logo {
    width: 30%;
}

.header-text {
    font-weight: 900;
    font-size: 3.5em;
    margin-top: 5%;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/centurion_competition.jpg');
    background-color: #e5e3e3
  }