.body {
    background-color: #000;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/centurion_competition.jpg');
    background-color: #e5e3e3
}

.bottom-banner {
    position: relative;
    background-color: rgb(221, 221, 221);
    top: 400px;
    padding-top: 50px;
    padding-left: 50px;
}