.time-table {
    margin-top: 10%
}

.ghost-cell {
    padding: 10px;
}

.day-cell {
    text-align: center;
    font-size: 1.5vw;
    color: #FFF;
    font-family: special;
    outline: 1px solid red;
    padding: 10px;
}

.time-cell {
    text-align: center;
    font-size: 1vw;
    color: white;
    font-family: special;
    outline: 1px solid red;
    padding: 10px;
}

.info-cell {
    text-align: center;
    font-size: 0.8vw;
    color: #FFF;
    font-family: body;
    outline: 1px solid red;
    padding: 10px;
}